.module_card {
   display: flex;
   flex-direction: column;
   box-shadow: 3px 3px 3px 3px #eeeeee;
   background-color: #ffffff;
   border-radius: 12px;
   padding: 20px
}

.card_title {
  font-size: 18px;
}
